@import './mixins/clearfix';
@import './variables';

.mg-auto {
  margin: auto;
}
/*css为clearfix，清除浮动*/
.clearfix {
  @include clearfix();
}
/*单行溢出*/
.one-txt-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*多行溢出 手机端使用*/
.txt-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.whole-row {
  width: 100%;
}
.text-main {
  color: $main-text;
}
.text-normal {
  color: $normal-text;
}
.text-less {
  color: $less-text;
}
.text-placeholder {
  color: $placeholder-text;
}
.text-primary {
  color: $primary;
}
.text-danger {
  color: $danger;
}
.flex-1 {
  flex: 1;
}
.btn-success {
  background-color: $primary !important;
  color: white !important;
}
.display-flex-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
}