$main-text:        #333333;
$normal-text:      #555555;
$less-text:        #999999;
$placeholder-text: #777777;

$first-border:  #DCDFE6;
$sencod-border: #E4E7ED;
$third-border:  #EBEEF5;
$fourth-border: #F2F6FC;

$code-background: #f8f8f8;

$primary: #118743;
$danger: #FF5757;